<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Recicle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700"> 
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">

    <link rel="stylesheet" href="../css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="../fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="../css/aos.css">

    <link rel="stylesheet" href="../css/style.css">
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar py-2" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-11 col-xl-2">
            <h1 class="mb-0"><a href="index.html" class="text-white h2 mb-0">Recicle</a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="desafios.html">Desafios</a></li>
                <li><a href="contact.html">Contato</a></li>
                <li><a href="about.html">Sobre</a></li>
                <li><a href="login.html" class="btn btn-primary px-4 py-2 text-white">Entrar</a></li>
              </ul>
            </nav>
          </div>


          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
    </header>

    <div class="site-blocks-cover overlay" style="background-image: url(../images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
            <h1 class="text-white font-weight-light mb-5 text-uppercase font-weight-bold">Bonificação por meio do descarte correto</h1>
          </div>
        </div>
      </div>
    </div>  

    <div class="container">
      <div class="row align-items-center no-gutters align-items-stretch overlap-section">
        <div class="col-md-4">
          <div class="feature-1 pricing h-100 text-center">
            <div class="icon">
              <span class="icon-puzzle-piece"></span>
            </div>
            <a href="desafios.html">
              <h2 class="my-4 heading">Desafios</h2>
            </a>
            <p>Cumpra desafios para ser premiado. Aqui você pode saber os desafios da semana e como participar.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-3 pricing h-100 text-center">
            <div class="icon">
              <span class="icon-user"></span>
            </div>
            <a href="login.html">
              <h2 class="my-4 heading">Cadastrar</h2>
            </a>
            <p>Faça seu cadastro e participe dos desafios para ganhar premiações e o mais importante, ajudar a natureza.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-1 pricing h-100 text-center">
            <div class="icon">
              <span class="icon-map-marker"></span>
            </div>
            <a href="#">
              <h2 class="my-4 heading">Ecopontos</h2>
            </a>
            <p>Veja as cooperativas proximas de você.</p>
          </div>
        </div>
      </div>
    </div>

  
    
    <div class="site-section">
      <div class="container">

        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center border-primary">
            <h2 class="font-weight-light text-primary">Bonificações</h2>
          </div>
        </div>

        <div class="row justify-content-around">

          <div class="col-md-5 align-self-center">
            <div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
            </div>
          </div>

          <div class="col-md-4 slide-one-item owl-carousel">
            <div class="d-flex justify-content-center">
              <figure style="width:250px;">
                <img src="https://pbs.twimg.com/profile_images/661888424073367552/pSK6r19h_400x400.png" alt="Image">
              </figure>
            </div>

            <div class="d-flex justify-content-center">
              <figure style="width:250px;">
                <img src="images/xbox.png" alt="Image">
              </figure>
            </div>

            <div class="d-flex justify-content-center">
              <figure style="width:250px;">
                <img src="images/spot.png" alt="Image">
              </figure>
            </div>

            <div class="d-flex justify-content-center">
              <figure style="width:250px;">
                <img src="images/uber.png" alt="Image">
              </figure>
            </div>

          </div>
        </div>
        
      </div>
    </div>



    <div class="site-section" style="background-color: #98989833;">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center border-primary">
            <h2 class="font-weight-light text-primary">Lixos mais descartados</h2>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="d-flex justify-content-center">
          <figure style="width: 90%;">
              <img src="images/lixo.png" alt="Imagem com os lixos mais descartados" class="img-fluid">
            </figure>
          </div>

        </div>
      </div>
    </div>


    
    <div class="site-section border-top">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
            <h2 class="mb-5 text-black">Ainda não possui uma conta?</h2>
            <p class="mb-0"><a href="login.html" class="btn btn-primary py-3 px-5 text-white">Registre-se!</a></p>
          </div>
        </div>
      </div>
    </div>


    
    <footer class="site-footer">
      <div class="container">
        <div class="row justify-content-around">
          <div class="col-md-3">
            <h2 class="mb-4">Recicle</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
          </div>

          <div class="col-md-2">
            <h2 class="mb-4">Menu</h2>
            <ul class="list-unstyled">
              <li><a href="login.html">Entrar</a></li>
              <li><a href="desafios.html">Desafios</a></li>
              <li><a href="contact.html">Contato</a></li>
              <li><a href="about.html">Sobre</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h2 class="mb-4">Redes Sociais</h2>
            <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
          </div>
        </div>

        <div class="row mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="../js/jquery-3.3.1.min.js"></script>
  <script src="../../js/jquery-migrate-3.0.1.min.js"></script>
  <script src="../js/jquery-ui.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/owl.carousel.min.js"></script>
  <script src="../js/jquery.stellar.min.js"></script>
  <script src="../js/jquery.countdown.min.js"></script>
  <script src="../js/jquery.magnific-popup.min.js"></script>
  <script src="../js/bootstrap-datepicker.min.js"></script>
  <script src="../js/aos.js"></script>

  <script src="../js/main.js"></script>
  </body>
</html>